
 
 .body-menu{
     width: 100%;
    text-align: center;
    background-color: $colorchido;
}

.header-menu{width: 100%;
    -webkit-animation: color-change-4x 6s linear infinite alternate both;
    animation: color-change-4x 6s linear infinite alternate both;
    

}


.bebidad-y-alimentos {
    background-color: $verde;
    border-radius: 10px;
    width: 100%;
    height:auto;
}

.suptitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.regresar {
    width: 100%;
     height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.fondo-1 {
    width: auto;
    -webkit-animation: color-change-4x 6s linear infinite alternate both;
  animation: color-change-4x 6s linear infinite alternate both;
    border: 0px solid ;
    padding: 1rem;
    min-height: 370px;
    border-radius: 15px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex-flow: row wrap;
   
    margin: 5pc;
    background-image:url(../imagenes/logo-3.png);
    background-repeat: no-repeat;
    /*background-size: cover; */
    background-position: center;
    background-attachment: fixed;
    align-content:stretch;
    gap: 1rem  1rem;
}

.tarjeta__imagen{
    width:100px;
    height: auto;
}

.men{
    gap: 1rem 1rem;
    width: 100%;
   display: grid;
   grid-template-columns: 3, 1fr;
   grid-template-rows:3, 1fr;
   grid-template-areas:
   "ofer ofer2 ofer3"
   "ofer4 ofer5 ofer6"
   "ofer7 ofer8 ofer9"
   ;
}

.alimentos{
    border-top:  solid 10px greenyellow ;
background-color:$colorchido;

}
  

.fondo-2 {
    background-color: beige;
    
padding: 1rem;
min-height: 610px;
flex: auto;
grid-template-columns: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
flex-flow: wrap;
align-content:stretch;

background-image: url(../imagenes/logo-3.png);
background-position: center;
/*background-repeat: no-repeat;*/
background-attachment: fixed;
gap: 3rem  3rem;
}

.tarjeta{
    grid-area: ofer;
    background-color: greenyellow;
    color: yellow;
    text-align: center;
    border-radius: 20px;
    max-width: 150px;
    width: auto;
    /* height: 300px; */
    height: auto;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
font-family: 'Smokum', cursive;
border-right: solid 10px yellow;
border-bottom: solid 10px red ;
margin: auto;
position: relative;
/* es para posicionar */
display: inline-block;
gap: 2rem 3rem;
}

.tarjeta-2{
    @extend .tarjeta;
    grid-area: ofer2;
    
}

.tarjeta-3{
    @extend .tarjeta;
    grid-area: ofer3;
  
}

.tarjeta-4{
    @extend .tarjeta;
    grid-area:ofer4;
  
}

.tarjeta-5{
    @extend .tarjeta;
    grid-area: ofer5;
   
}

.tarjeta-6{
    @extend .tarjeta;
    grid-area: ofer6;
   
}

.tarjeta-7{
    @extend .tarjeta;
    grid-area: ofer7;
   
}

.tarjeta-8{
    @extend .tarjeta;
    grid-area: ofer8 ;
    
}

.tarjeta-9{
    @extend .tarjeta;
    grid-area: ofer9 ;
  
}

.men-2{
    gap: 1rem 1rem;
    display: grid;
    grid-template-columns:2, 1fr ;
    grid-template-rows:3, 1fr ;
    grid-template-areas:
    "bevida1 bevida2"
    "bevida3 bevida4"
    "bevida5 bevida5"
    ;
}

.tar-1{
    grid-area: bevida1 ;
    background-color: greenyellow;
    color: yellow;
    text-align: center;
    border-radius: 20px;
    width: 200px;
    height: 300px;
    padding: 55px;
    font-family: 'Permanent Marker', cursive;
font-family: 'Smokum', cursive;
border-right: solid 10px yellow;
border-bottom: solid 10px red ;
margin: auto;
position: relative;
/* es para posicionar */
display: inline-block;
gap: 2rem 3rem;
}

.tar-2{
    @extend .tar-1;
    grid-area: bevida2 ;
   
}

.tar-3{
    @extend .tar-1;
    grid-area: bevida3 ;
}

.tar-4{
    @extend .tar-1;
    grid-area: bevida4 ;
    
}

.tar-5{
    @extend .tar-1;
    grid-area: bevida5;
    
}


.footer-menu{
    @extend .pie;
   

}
 
 